$default-light-blue: #5B96F7;
$default-white: #F8FAFF;

$selector-block-size: 30%;
$main-block-size: 70%;
$navbar-width: 100px;

$main-font: 'Manrope', sans-serif;

$search-bar--color: #EAF2FE;

//
$selector-block-size-module: 25%;
$main-block-size-module: 50%;
$module-block-size: 25%