@import '../../utils/vars.module.scss';

.verify_account_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  &__title {
    font-size: 32px;
    font-weight: 700;
  }

  &__text {
    font-size: 19.2px;
    font-weight: 400;
    text-align: center;
  }
}

.black_row {
  background-color: black;
  width: 100%;
  height: 1px;
}